/***************************************************************************************/
/********************************* STYLE ***********************************************/
/***************************************************************************************/

/********************************* MISC STYLE ***********************************************/
@font-face { font-family: Cagliostro; src: url('Cagliostro-Regular.ttf'); }
body {
    background-image-max-width: 100%;
    font-size: 10px;
    font-family: Cagliostro;
    background: url(images/hair_1920x1080-0.jpg) top center no-repeat fixed;
    margin: 0px;
}

h1 {
    font-family: Cagliostro;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
}
div{

    background-color: solid rgba(0,0,0,0.9);
}
img{
    max-width: 100%;
}


/********************************* Header ***********************************************/
.menu{
    width: 100%;
}
header {
    font-family: Cagliostro;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto%;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: white;
    transition: 1s;
}
header nav{
    width: 100%;
}
header a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}
header ul{
    list-style: none;
}
header li{
    display: inline-block;
    padding: 3px;
    font-size: 15;

}
#menu-icon {

    display: none;
    width: 40px;
    height: 40px;
    top: 40px;
    background: transparent url(images/menu-513.png) center;

}

.headh1{
    font-size: 2.5em;
    color: white;
}



/********************************* CONTAINER ***********************************************/
.content{
    max-width: 100%;
}
.center-block{
    width: 50%;
    background: transparent;
    border: 0px solid rgba(255,255,255,0.5);
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
}

#text {
    max-font-size: 50;
}

/********************************* MAIN ***********************************************/
.main{
    width: 100%;
    margin-top: 45%;
    margin-bottom: 45%;
    text-align: center;
}
#huge{
    font-size: 60;
    color: white;
}
#medPlus{
    font-size: 40;
    color: white;
}
#med{
    font-size: 30;
    color: white;
}
#small{
    font-size: 20;
    color: white;
}

@media (max-width: 730px)
{
    #huge{
        font-size: 30;
        color: white;
    }
    #medPlus{
        font-size: 25;
        color: white;
    }
    #med{
        font-size: 12;
        color: white;
    }
    #small{
        font-size: 15;
        color: white;
    }
    .main{
        width: 100%;
        margin-top: 100%;
        margin-bottom: 100%;
        text-align: center;
    }
}


/********************************* Second ***********************************************/
.second{
    width: 100%;
    background: url(images/3975004-corporate-wallpapers.jpg) top right no-repeat fixed;

}
.line{
    width: 100px;
    border-top: 30px rgba(255,255,255,0.8);
}
.TableOnePad{
    margin-top: 30px;
    max-width:70%;
}
.pads{
   padding: 100px;
}
.padstop{
     padding-top: 70px;
 }
.padsbottom{
    padding-bottom: 100px;
}
.secondSpace{
    max-width:50%;
    position:relative;
    top:-100px;
}
.tabimg{
    max-width: 70%;
}
.chng{
    color: white;
}
.chng:hover{
    color: #00d319;
}
@media (max-width: 1400px)
{
    .secondSpace{
        max-width:50%;
        position:relative;
        top:-70px;
    }
}

@media (max-width: 1200px)
{
    .TableOnePad{
        margin-top: 0px;
        width:70%;
    }
    .tabimg{
        max-width: 35%;
    }
    .secondSpace{
        max-width:50%;
        position:relative;
        top:-50px;
    }
}
@media (max-width: 1100px)
{
    .secondSpace{
        max-width:50%;
        position:relative;
        top:-20px;
    }
}
/********************************* Third ***********************************************/
.third{
    background-color: rgba(255,255,255,0.2);
}
/****Image Grid***/
#prod {
    font-family: Cagliostro;
    font-size: 4em;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}
h3{
    font-family: Cagliostro;
    font-size: 1.3em;
    color: white;
}
hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-top: 25px;
    padding: 0 0 0;
    margin-bottom: 25px;
    clear: both;
}
.centered {
    text-align: center;
}
.wrapper {
    width: 100%;
    padding: 30px 0;
}
.container {
    width: 1200px;
    margin: 0px;
}
/***Buttons***/
ul.grid-nav {
    list-style: none;
    font-size: .85em;
    font-weight: 200;
    text-align: center;
    margin-left: -40px;
}
ul.grid-nav li {
    display: inline-block;
}
ul.grid-nav li a {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
ul.grid-nav li a:hover {
    background: #7b0;
}
ul.grid-nav li a.active {
    background: #333;
}
.grid-container {
    display: none;
    margin-ledt: -100px;
}
ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -5.5%;
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2% 2.5%;
    background: #000;
    border: 3px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 10px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li:hover {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2% 2.5%;
    background: #000;
    border: 3px solid #00d319;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 10px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}
ul.rig.columns-2 li {
    width: 45%;
}
ul.rig.columns-3 li {
    width: 30.83%;
}
ul.rig.columns-4 li {
    width: 22.5%;
}

@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 5px 150px;
    }
    #prod {
        font-family: Cagliostro;
        font-size: 3em;
        font-weight: 400;
        margin: 0 0 20px;
        text-align: center;
        text-shadow: 1px 1px 0 #fff, 1px 1px 0 #bbb;
    }
}


/********************************* Forth ***********************************************/
.forth{
    width: 100%;
    align-text: center;
    background: url(images/20140913577177-342b49d2.jpg) bottom center no-repeat fixed;

}
.padsMin{
    padding: 20px;
}
.about{
    background-color: rgba(70,70,70,0.35);
    padding: 100px;
}
.tableAbout{
    width: 50%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50px;
    border: 2px solid #000;
    box-shadow: 0px 0px 15px #000;
}

@media (max-width: 1080px)
{
    .tableAbout{
        width: 80%;
        background-color: rgba(0,0,0,0.7);
        border-radius: 50px;
        border: 2px solid #000;
        box-shadow: 0px 0px 15px #000;
    }
}
/********************************* Fifth ***********************************************/
.fifth{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.stdIn{
    width: 60%;
    padding: 10px;
    font-size: small;
    font-family: Cagliostro;
    /*font-family: Arial, Helvetica, sans-serif;*/
    background-color: #333333;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0 0 5px #fff;
}
.sendBut{
    background: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0 0 5px #fff;
    color: white;
}
.find{
    width: 85%;
}
@media (max-width: 730px)
{
    .stdIn{
        width: 90%;
        padding: 5px;
        font-size: small;
        font-family: Cagliostro;
        background-color: #333333;
        color: white;
        border: 1px solid rgba(0,0,0,1);
        box-shadow: 0 0 5px #fff;
    }
}


/********************************* Extra ***********************************************/
.scrltop{
    position: fixed;
    top: 50%;
    left: 90%;
    max-width: 100px;
}


/***************************************************************************************/
/********************************* Slider ***********************************************/
/***************************************************************************************/
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame
{
    position:relative;
    background-color: rgba(0,0,0,0.5);

}

#slider, #slider .sliderInner {
    width:600px;height:400px;
    border-radius:0px;
}

#slider
{
    background-color:whitesmoke;
    position:relative;
    margin:0 auto; 
    transform: translate3d(0,0,0);
}

#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .navBulletsWrapper  {
    display:none;
}
#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}



.group1-Wrapper
{
    position:absolute;
    z-index:20;
    top:120px;
    margin-left:50%;
    width:1px;
}
a.group1-Prev, a.group1-Next
{
    width:50px;height:150px;
    background:transparent url(images/navbuttons2.gif);
    display:block;
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group1-Prev{background-position:0 0; left: -510px;}
a.group1-Next {background-position:0 -150px;left:460px;}

a.group1-Prev:hover{background-position:50px 0;}
a.group1-Next:hover {background-position:50px -150px;}


a.group2-Prev, a.group2-Next, a.group2-Play, a.group2-Pause
{
    width:20px; height:20px;
    background:transparent url(images/navbuttons.gif);
    display:inline-block;
    *display:inline;zoom:1;
    margin-left:4px; margin-right:4px;
    cursor:pointer;
}
a.group2-Pause{background-position:0 0;}
a.group2-Play {background-position:0 -20px;}
a.group2-Next {background-position:0 -40px;}
a.group2-Prev {background-position:0 -60px;}

a.group2-Pause:hover{background-position:20px 0;}
a.group2-Play:hover {background-position:20px -20px;}
a.group2-Next:hover {background-position:20px -40px;}
a.group2-Prev:hover {background-position:20px -60px;}

/***************************************************************************************/
/********************************* Popup ***********************************************/
/***************************************************************************************/
#pop .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index:99999;
}
#pop .overlay:target {
    visibility: visible;
    opacity: 1;
}
#pop .popup {
    margin: 70px auto;
    padding: 2px 2px 2px;
    background: rgba(221,221,221,0.5);
    border: 30px rgba(0,0,0,0.5);
    /*border-radius: 50px;*/
    width: 55%;
    max-height: 80%;
    position: relative;
    transition: all 3s ease-in-out;
    overflow:hidden;
}
#pop .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    z-index:999999;
}
#pop .popup .close:hover {
    color: #000000;
}
#pop .popup .contents {
    max-height: 90%;
    overflow: Hidden;
}
#pop .popup .contents img {
    max-width: 100%;
    display: block;
}